#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.colorDisplay {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.colorOption {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.startBtn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.startBtn:hover {
  background-color: #3498DB;
  border-color: #3498DB;
  animation: identifier 0.3s;
  transform: scale(1.1);
}

.scoreDisplay {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1rem;
}

@keyframes identifier {
  0% {
    transform: scale(1);
    background-color: #333;
  }
  100%{
    transform: scale(1.1);
    background-color: #3498DB;
  }
  
}

